h1 {

text-align: center;

padding-top: 50px;
padding-bottom: 25px;

}

body {

width: 100%;

height: 100%;

background: linear-gradient(#28a746e5, #17a3b89a, #007bffca) no-repeat center fixed;

color: whitesmoke;

}
